*
!README.md
!.gitignore

!scripts
!scripts/create_projects.xsct.tcl
!scripts/config_projects.xsct.tcl

!workspace
!workspace/hdmi
!workspace/hdmi/src
!workspace/hdmi/src/**

!config
!config/standalone_domain
!config/standalone_domain/system.mss
!config/zynq_fsbl
!config/zynq_fsbl/system.mss

!hw_handoff
!hw_handoff/*.xsa