*
!README.md
!.gitignore

!scripts
scripts/*
!scripts/create_workspace.xsct.tcl
!scripts/config_workspace.xsct.tcl

!workspace
workspace/*
!workspace/hdmi
workspace/hdmi/*
!workspace/hdmi/src
!workspace/hdmi/src/**

!apps
apps/*
!apps/hdmi
apps/hdmi/*
!apps/hdmi/linker
apps/hdmi/linker/*
!apps/hdmi/linker/lscript.ld
!apps/hdmi/src
!apps/hdmi/src/**

!domains
domains/*
!domains/standalone_domain
domains/standalone_domain/*
!domains/standalone_domain/system.mss
!domains/zynq_fsbl
domains/zynq_fsbl/*
!domains/zynq_fsbl/system.mss

!hw_import
!hw_import/*.xsa

!**/.keep