[submodule "hw/scripts"]
	path = hw/scripts
	url = https://github.com/Digilent/digilent-vivado-scripts
[submodule "hw/repo/vivado-library"]
	path = hw/repo/vivado-library
	url = https://github.com/Digilent/vivado-library
